source_up

export ONS_HOME=/Users/markryan/workspace/methods/ons

# Alisaes - not supported by direnv - added to zshrc (maybe refactor to zsh-hooks? https://stackoverflow.com/questions/17051123/source-a-file-in-zsh-when-entering-a-directory)

# Web
ln -sf $ONS_HOME/zebedee-content ./ln-repos/
ln -sf $ONS_HOME/sixteens ./ln-repos/
ln -sf $ONS_HOME/babbage ./ln-repos/
ln -sf $ONS_HOME/florence ./ln-repos/
ln -sf $ONS_HOME/zebedee ./ln-repos/
ln -sf $ONS_HOME/dp-frontend-router ./ln-repos/
ln -sf $ONS_HOME/dp-frontend-renderer ./ln-repos/
ln -sf $ONS_HOME/dp-frontend-homepage-controller ./ln-repos/
ln -sf $ONS_HOME/dp-frontend-cookie-controller ./ln-repos/
ln -sf $ONS_HOME/dp-frontend-dataset-controller ./ln-repos/
ln -sf $ONS_HOME/dp-frontend-feedback-controller ./ln-repos/
ln -sf $ONS_HOME/dp-api-router ./ln-repos/
ln -sf $ONS_HOME/dp-dataset-api ./ln-repos/
ln -sf $ONS_HOME/dp-recipe-api ./ln-repos/
ln -sf $ONS_HOME/dp-import-api ./ln-repos/

# ln -sf $ONS_HOME/dp-publishing-dataset-controller $ONS_HOME/.localhost/dp-publishing-dataset-controller
# ln -sf $ONS_HOME/dp-cantabular-server $ONS_HOME/.localhost/cantabular-server
# ln -sf $ONS_HOME/dp-import-cantabular-dataset $ONS_HOME/.localhost/dp-import-cantabular-dataset
# ln -sf $ONS_HOME/dp-import-cantabular-dimension-options $ONS_HOME/.localhost/dp-import-cantabular-dimension-options
# ln -sf $ONS_HOME/dp-cantabular-api-ext $ONS_HOME/.localhost/dp-cantabular-api-ext
# ln -sf $ONS_HOME/dp-cantabular-csv-exporter $ONS_HOME/.localhost/dp-cantabular-csv-exporter
# ln -sf $ONS_HOME/dp-cantabular-metadata-exporter $ONS_HOME/.localhost/dp-cantabular-metadata-exporter
# ln -sf $ONS_HOME/dp-cantabular-xlsx-exporter $ONS_HOME/.localhost/dp-cantabular-xlsx-exporter
